# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore productive output
output/
exports/

# Ignore real data
data/*
!data/example/
!data/example/**
!data/example/images/**
!data/example/*.log
!data/example/*.png

# Ignore all other logs, pngs, pkl, xlsx
*.pkl
*.xlsx
*.log
*.png

# Dash cache
*.cache/