# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ignore productive output
output/
exports/

# Ignore real data
data/*
!data/example/

# Allow example files inside example folder
!data/example/*.log
!data/example/*.png
!data/example/images/
!data/example/images/*.png

# Ignore all other logs, pngs, pkl, xlsx
*.log
*.png
*.pkl
*.xlsx


# Dash cache
*.cache/