# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project-specific
output/
exports/
data/images/
*.log
*.png
*.pkl
*.xlsx

# Dash cache
*.cache/